<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
<!--<configuration debug="true">-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{45} - %msg%n</pattern>
        </encoder>
    </appender>

    <timestamp key="bySecond" datePattern="yyyy_MM_dd__HH_mm_ss"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/${bySecond}.log</file>

        <encoder>
            <pattern>%date %level [%thread] %logger{50} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>